/* Gutenberg Editor Stylesheet
 * Version: 1.0
 *
 * Powered by VLThemes
 */

@import 'abstracts/variables';
@import 'abstracts/mixins';

// block

.wp-block {
	max-width: 1170px;
}

// links

.editor-styles-wrapper a {
	color: $ac1;
}

// preformatted

.wp-block-code,
.wp-block-preformatted pre,
.wp-block-verse pre,
pre.wp-block-verse {
	padding: px2rem(35px);
	font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
	color: $c1;
	background-color: $c5;
}