/* ANCHOR: SEARCH FORM
-------------------------------------------- */

.vlt-search-form {
	position: relative;

	input[type="text"] {
		padding-right: px2rem(30px);
	}

	button {
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		margin: 0;
		padding: 0 px2rem(12px);
		font-size: px2rem(18px);
		color: inherit;
		border: none;
		background: none;
		cursor: pointer;
	}

}