/* ANCHOR: TAG CLOUD
-------------------------------------------- */

.vlt-widget.widget_tag_cloud {

	a {
		display: inline-flex;
		padding: px2rem(6px) px2rem(23px);
		margin: 0 px2rem(5px) px2rem(5px) 0;
		font-weight: 600;
		color: $c1;
		box-shadow: inset 0 0 0 1px $c1;
		background-color: transparent;

		&:hover {
			box-shadow: inset 0 0 0 1px $ac1;
			background-color: $ac1;
		}

	}

}