/* PARTIAL: POST MEDIA
-------------------------------------------- */

.vlt-post-media {
	position: relative;
	width: 100%;
	backface-visibility: hidden;
	overflow: hidden;

	img {
		display: block;
		margin: 0 auto;
		backface-visibility: hidden;
		will-change: transform;
		transform: scale(1) translateZ(0);
		transition: transform 1s;
	}

}

.vlt-post:hover .vlt-post-media img {
	transform: scale(1.05) translateZ(0);
}