/* WORDPRESS: LINK PAGES
-------------------------------------------- */

.vlt-link-pages {
	margin-top: px2rem(40px);
	font-weight: 500;

	h5 {
		margin: 0 0 px2rem(10px);
	}

	.sep {
		margin: 0 px2rem(16px);
		color: $c1;
		opacity: 0.1;
	}

}